:host {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 1rem;
  padding: 2rem;
  border: 1px solid whitesmoke;
  border-radius: 6px;
  padding-bottom: 0.5rem;
  background-color: #222222;

  &:focus-within {
    border: 1px solid #8affa3;
  }
}

mat-form-field {
  margin: 0.5rem;

  .mdc-text-field--filled {
    border-bottom-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
  }
}

.currencySelect {
  width: 8rem;
}

.currencyFlag {
  width: 1rem;
  margin-bottom: -0.1rem;
  margin-right: 0.2rem;
}
