:host {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  background-color: #121212;
  position: relative;
}

.formContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 1024px) {
  .formContainer {
    flex-direction: column;
  }
  .convertIcon {
    display: none;
  }
  header {
    display: none;
  }
}

.convertIcon {
  height: 5rem;
  opacity: 0.8;
  -webkit-user-drag: none;
  cursor: pointer;

  &:hover {
    opacity: 1;
  }
}
