#center {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 12vh;
    padding: 2px;
  }
  
  .divWithBorder {
    border: 1px solid #f0f0f0ab;
    border-radius: 15px;
    background-color: #00000069;
  }
  