<mat-form-field class="valueInput">
  <mat-label>Amount</mat-label>
  <input
    matInput
    [(ngModel)]="money.amount"
    (ngModelChange)="amountChanged()"
    numbersCheck
  />
</mat-form-field>

<mat-form-field class="currency">
  <mat-label>Currency</mat-label>
  <mat-select [(ngModel)]="money.currency" (ngModelChange)="currencyChanged()">
    <mat-select-trigger>
      <img class="currencyFlag" src="assets/{{ money.currency }}.png" />
      {{ money.currency.toUpperCase() }}
    </mat-select-trigger>
    <mat-option *ngFor="let currency of currencies" [value]="currency">
      <img class="currencyFlag" src="assets/{{ currency }}.png" />
      {{ currency.toUpperCase() }}
    </mat-option>
  </mat-select>
</mat-form-field>
