.label {
    margin-left: 0.5rem;
    font-weight: 900;
  }
  
  .divWithBorder {
    border: 1px solid #f0f0f0ab;
    border-radius: 15px;
    background-color: #00000069;
  }
  
  .cell {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    min-height: 3rem;
    border: 1px solid;
    padding: 10px;
    margin-top: 1rem;
  }